.slider-list {
  display: block;
}

.slider-list .about-item {
  display: flex;
  flex-direction: column;
  height: 253px;
  gap: 55px;
}

.slider-list .about-item p {
  margin-top: 45px;
  font-size: 16px;
}

.slick-dots {
  bottom: -55px;
}

.slider-list .about-item.accent {
  background: var(--accent-color);
}

.slider-list .about-item.black {
  background: var(--main-color);
}

.slider-list .about-item.gray {
  background: var(--card-dark-gray);
}
.slider-list .about-item.light {
  background: var(--card-light-gray);
}

@media screen and (min-width: 480px) {
  .slider-list .about-item p {
    margin-top: 55px;
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  .slider-list {
    display: none;
  }
}
