.reviews-section {
  width: 100%;
  margin-top: 124px;
}

.reviews-title {
  color: #ed4b5e;
  text-align: center;
  font-family: inherit;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
    letter-spacing: -0.48px;
    margin-bottom: 48px;
  }
  .reviews-section {
    margin-top: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews-title {
    font-size: 100px;
    letter-spacing: -1px;
    margin-bottom: 64px;
  }
  .reviews-section {
    margin-top: 100px;
  }
}
